<div class="row">
	<div class="col-sm-3">
		<a class="btn btn-danger" href="Calendar.html" target="_blank">Go to Campaigns Calendar</a>
		<a class="btn btn-danger" href="CalendarCampsBlitz.html" target="_blank">Go to Campaigns+Blitz Calendar</a>
		<nav class="navbar navbar-default" role="navigation">
			<!-- El logotipo y el icono que despliega el menú se agrupan
				para mostrarlos mejor en los dispositivos móviles -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle glyphicon-filter" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
					<span class="sr-only">Desplegar navegación</span>

				</button>
			</div>

			<!-- Agrupar los enlaces de navegación, los formularios y cualquier
				otro elemento que se pueda ocultar al minimizar la barra -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="title">
					<p>Search By:</p>
				</div>
				<div ng-submit="search()">
					<div class=" form-group">
						<label>Blitz Name</label>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search..." name="CampBlitzName" id="CampBlitzName" ng-model="CampBlitzName">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="searchByName()">Go!</button>
							</span>
						</div>
					</div>
					<div class=" form-group">
						<label>Partner Name</label>
						<div class="input-group">
							<input type="text" class="form-control" id="CampBlitzPartnerName" name="CampBlitzPartnerName" ng-model="CampBlitzPartnerName" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="search()">Go!</button>
							</span>
						</div>
					</div>
					<div class=" form-group">
						<label>Status</label>
						<select class="form-control" id="CampBlitzStatus" name="CampBlitzStatus" ng-model="CampBlitzStatus" ng-change="search()">
							<option value="Pending">Pending</option>
							<option value="Working">Working</option>
							<option value="Ready to go">Ready to go</option>
							<option value="Completed">Completed</option>
						</select>
					</div>
					<div class=" form-group underline">
						<label>Agency</label>
						<select class="form-control" id="agencyInternal" name="agencyInternal" ng-model="agencyInternal" ng-change="search()">
							<option value="">All</option>
							<option value="Creative Services">Creative Services</option>
							<option value="External Agency">External Agency</option>
							<option value="CS & External Agency">CS & External Agency</option>
							<option value="Televerde">Televerde</option>
						</select>
					</div>
				</div>

			</div>
		</nav>
	</div>
	<div class="col-sm-9">
		<div class="row calendar-type">
			<div class="col-sm-12">
				<div class="row color-reference-blitz">
					<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('AI')">
						<div class="circle-color-blitz" style="background-color:#ccc;">
						</div>
						<p ng-class="{selectedTheater: theater == 'AI'}">AI&nbsp;&nbsp;</p>
						<p class="region-sep">|</p>
					</div>
					<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('APAC')">
						<div class="circle-color-blitz" style="background-color:#d0e9fc;">
						</div>
						<p ng-class="{selectedTheater: theater == 'APAC'}">APAC&nbsp;&nbsp;</p>
						<p class="region-sep">|</p>
					</div>
					<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('EMEA')">
						<div class="circle-color-blitz" style="background-color:#FFDDAE;">
						</div>
						<p ng-class="{selectedTheater: theater == 'EMEA'}">EMEA&nbsp;&nbsp;</p>
						<p class="region-sep">|</p>
					</div>
					<!--<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('GGM')">
						<div class="circle-color-blitz" style="background-color:#FFDDAE;">
						</div>
						<p ng-class="{selectedTheater: theater == 'GGM'}">GGM&nbsp;&nbsp;</p>
						<p class="region-sep">|</p>
					</div>-->
					<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('US')">
						<div class="circle-color-blitz" style="background-color:#FFD2F2;">
						</div>
						<p ng-class="{selectedTheater: theater == 'US'}">US&nbsp;&nbsp;</p>
						<p class="region-sep">|</p>
					</div>
					<div class="col-sm-2 color-region-blitz" ng-click="filterByTheatre('')">
						<div class="circle-color-blitz" style="background-color:#a5def7;">
						</div>
						<p ng-class="{selectedTheater: theater == 'All'}">All&nbsp;&nbsp;</p>
						
					</div>

				</div>
				<div class="calendar-type-collect">
					<div class="subtitle"></div>
					<div class="calendar-type-btn" ng-click="changeToMontly()">
						Monthly<br>
						<img src="assetsFrontEnd/img/cal-01.png">
					</div>
					<div class="calendar-type-btn" ng-click="changeToWeekly()">
						Weekly
						<img src="assetsfrontend/img/cal-02.png">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 text-right hide-custom">
				<div class="pre-month" ng-click="getEventsByMonthYear(navMonth.back)">{{ navMonth.back | cmdate:'MMM' }} - {{ navMonth.back | cmQ }}</div>
			</div>
			<div class="col-sm-4 text-center">
				<form>
					<select class="month" ng-change="getEventsByMonthYear()" ng-model="dateSelected" style="text-align: center; text-align-last: center;">
						<option ng-repeat="month in navMonth.current" value="{{month.date | cmdate:'yyyy/MM/dd'}}" ng-selected="{{month.selected == true}}">{{month.date | cmdate:'MMM' }} - {{month.date | cmQ }}</option>
					</select>
				</form>
			</div>
			<div class="col-sm-4 text-left hide-custom">
				<div class="post-month" ng-click="getEventsByMonthYear(navMonth.next)">{{ navMonth.next | cmdate:'MMM' }} - {{ navMonth.next | cmQ }}</div>
			</div>
		</div>
		<div id="calendar" print-section>
			<table class="calendar" cellpadding="0" cellspacing="0" border="0" id="monthlytablehdr">
				<tr class="days">
					<!--<td valign="top" class="sunday"></td>-->
					<td valign="top" class="monday"></td>
					<td valign="top" class="tuesday"></td>
					<td valign="top" class="wednesday"></td>
					<td valign="top" class="thursday"></td>
					<td valign="top" class="friday"></td>
					<!--<td valign="top" class="saturday"></td>-->
				</tr>
			</table>
			<table class="calendar dates" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" id="monthlytable">
				<tr>
					<td ng-repeat="day in semana1" valign="top" ng-if="day.Weekend == 'NO'" ng-class="{ 'weekend' : day.Weekend == 'YES', 'other-month' : day.ActualMonth == 'NO' }">
						<div class="date">{{day.Day}}</div>
						<div ng-show="day.Events.length < 3">
							<div ng-repeat="ev in day.Events" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</div>
						<div ng-show="day.Events.length >= 3">
							<div ng-repeat="ev in day.Events | limitTo:2" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
							<div class="more" ng-click="showEvents(day.Events)"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="day in semana2" valign="top" ng-if="day.Weekend == 'NO'" ng-class="{ 'weekend' : day.Weekend == 'YES', 'other-month' : day.ActualMonth == 'NO' }">
						<div class="date">{{day.Day}}</div>
						<div ng-show="day.Events.length < 3">
							<div ng-repeat="ev in day.Events" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</div>
						<div ng-show="day.Events.length >= 3">
							<div ng-repeat="ev in day.Events | limitTo:2" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
							<div class="more" ng-click="showEvents(day.Events)"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="day in semana3" valign="top" ng-if="day.Weekend == 'NO'" ng-class="{ 'weekend' : day.Weekend == 'YES', 'other-month' : day.ActualMonth == 'NO' }">
						<div class="date">{{day.Day}}</div>
						<div ng-show="day.Events.length < 3">
							<div ng-repeat="ev in day.Events" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</div>
						<div ng-show="day.Events.length >= 3">
							<div ng-repeat="ev in day.Events | limitTo:2" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
							<div class="more" ng-click="showEvents(day.Events)"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="day in semana4" valign="top" ng-if="day.Weekend == 'NO'" ng-class="{ 'weekend' : day.Weekend == 'YES', 'other-month' : day.ActualMonth == 'NO' }">
						<div class="date">{{day.Day}}</div>
						<div ng-show="day.Events.length < 3">
							<div ng-repeat="ev in day.Events" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">

								<!--<div class=" tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
										{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
									</div>
							</div>
						</div>
						<div ng-show="day.Events.length >= 3">
							<div ng-repeat="ev in day.Events | limitTo:2" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
							<div class="more" ng-click="showEvents(day.Events)"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="day in semana5" valign="top" ng-if="day.Weekend == 'NO'" ng-class="{ 'weekend' : day.Weekend == 'YES', 'other-month' : day.ActualMonth == 'NO' }">
						<div class="date">{{day.Day}}</div>
						<div ng-show="day.Events.length < 3">
							<div ng-repeat="ev in day.Events" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</div>
						<div ng-show="day.Events.length >= 3">
							<div ng-repeat="ev in day.Events | limitTo:2" class="tactic" ng-click="showDetails(ev)" ng-class="ev.theater">
								<!--<div class="tactic-icon">
									{{ev.CampBlitzPartnerName}}
								</div>-->
								<div class="tactic-name" data-toggle="tooltip" data-placement="top" title="{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
							<div class="more" ng-click="showEvents(day.Events)"></div>
						</div>
					</td>
				</tr>

			</table>
		</div>
		<table id="reporte" style="width: 100%;display:none;" data-tableexport-display="always">
			<thead>
				<tr>
					<th>ID</th>
					<th>Campaign Name</th>
					<th>Date</th>
					<th>Partner</th>
					<th>Theater</th>
					<th>Status</th>
					<th>FMM</th>
					<th>State</th>
					<th>SDFC Name</th>
					<th>SDFC Link</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ev in allWeeks">
					<td>{{ev.CampBlitzId}}</td>
					<td>{{ev.CampBlitzName}}</td>
					<td>{{ev.dateStartString}}</td>
					<td>{{ev.CampBlitzPartnerName}}</td>
					<td>{{ev.CampBlitzTheater}}</td>
					<td>{{ev.CampBlitzStatus}}</td>
					<td>{{ev.CampBlitzFmm}}</td>
					<td>{{ev.CampBlitzState}}</td>
					<td>{{ev.CampBlitzSFDCName}}</td>
					<td>{{ev.CampBlitzSFDCLink}}</td>
					
				</tr>
			</tbody>
		</table>
		<div id="calendarControls" ng-if="montly">
			<button style="width: auto;" class="btn btn-default" print-btn><i class="fa fa-print" aria-hidden="true" style="color: #fff;"></i>&nbsp;Print</button>
			<button style="width: auto;" class="btn btn-default" ng-click="toExcel()"><i class="fa fa-file-excel-o" aria-hidden="true" style="color:#fff;"></i>&nbsp;Excel</button>

		</div>


		<!-- Nav tabs -->
		<ul class="nav nav-tabs hide" role="tablist" id="weeklytabletabs">
			<li role="presentation" class="active"><a href="#mon" target="_self" aria-controls="home" role="tab" data-toggle="tab">WEEK 1</a></li>
			<li role="presentation"><a href="#tue" target="_self" aria-controls="profile" role="tab" data-toggle="tab">WEEK 2</a></li>
			<li role="presentation"><a href="#wed" target="_self" aria-controls="messages" role="tab" data-toggle="tab">WEEK 3</a></li>
			<li role="presentation"><a href="#thu" target="_self" aria-controls="settings" role="tab" data-toggle="tab">WEEK 4</a></li>
			<li role="presentation"><a href="#fri" target="_self" aria-controls="settings" role="tab" data-toggle="tab">WEEK 5</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content hide" id="weeklytable">
			<div role="tabpanel" class="tab-pane active" id="mon">
				<br>
				<table class="calendar dates-weekly" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<div class="date">{{semana1[1].Day}} - Monday</div>
							<div ng-repeat="ev in semana1[1].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</td>
						<td valign="top">
							<div class="date">{{semana1[2].Day}} - Tuesday</div>
							<div ng-repeat="ev in semana1[2].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana1[3].Day}} - Wednesday</div>
							<div ng-repeat="ev in semana1[3].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana1[4].Day}} - Thursday</div>
							<div ng-repeat="ev in semana1[4].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana1[5].Day}} - Friday</div>
							<div ng-repeat="ev in semana1[5].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
					</tr>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="tue">
				<br>
				<table class="calendar dates-weekly" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<div class="date">{{semana2[1].Day}} - Monday</div>
							<div ng-repeat="ev in semana2[1].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>


						</td>
						<td valign="top">
							<div class="date">{{semana2[2].Day}} - Tuesday</div>
							<div ng-repeat="ev in semana2[2].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana2[3].Day}} - Wednesday</div>
							<div ng-repeat="ev in semana2[3].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana2[4].Day}} - Thursday</div>
							<div ng-repeat="ev in semana2[4].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>


						</td>
						<td valign="top">
							<div class="date">{{semana2[5].Day}} - Friday</div>
							<div ng-repeat="ev in semana2[5].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
					</tr>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="wed">
				<br>
				<table class="calendar dates-weekly" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<div class="date">{{semana3[1].Day}} - Monday</div>
							<div ng-repeat="ev in semana3[1].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>



						</td>
						<td valign="top">
							<div class="date">{{semana3[2].Day}} - Tuesday</div>
							<div ng-repeat="ev in semana3[2].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana3[3].Day}} - Wednesday</div>
							<div ng-repeat="ev in semana3[3].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana3[4].Day}} - Thursday</div>
							<div ng-repeat="ev in semana3[4].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>



						</td>
						<td valign="top">
							<div class="date">{{semana3[5].Day}} - Friday</div>
							<div ng-repeat="ev in semana3[5].Events" class="tactic-weekly " ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>


						</td>
					</tr>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="thu">
				<br>
				<table class="calendar dates-weekly" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<div class="date">{{semana4[1].Day}} - Monday</div>
							<div ng-repeat="ev in semana4[1].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana4[2].Day}} - Tuesday</div>
							<div ng-repeat="ev in semana4[2].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana4[3].Day}} - Wednesday</div>
							<div ng-repeat="ev in semana4[3].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana4[4].Day}} - Thursday</div>
							<div ng-repeat="ev in semana4[4].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana4[5].Day}} - Friday</div>
							<div ng-repeat="ev in semana4[5].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
					</tr>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="fri">
				<br>
				<table class="calendar dates-weekly" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<div class="date">{{semana5[1].Day}} - Monday</div>
							<div ng-repeat="ev in semana5[1].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana5[2].Day}} - Tuesday</div>
							<div ng-repeat="ev in semana5[2].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>

						</td>
						<td valign="top">
							<div class="date">{{semana5[3].Day}} - Wednesday</div>
							<div ng-repeat="ev in semana5[3].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>


						</td>
						<td valign="top" class="weekend">
							<div class="date">{{semana5[4].Day}} - Thursday</div>
							<div ng-repeat="ev in semana5[4].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>
						</td>
						<td valign="top" class="weekend">
							<div class="date">{{semana5[5].Day}} - Friday</div>
							<div ng-repeat="ev in semana5[5].Events" class="tactic-weekly" ng-class="ev.theater" ng-click="showDetails(ev)">
								<div class="tactic-type-weekly">
									{{ev.CampBlitzPartnerName}}
								</div><br>
								<div class="tactic-name-weekly">
									{{ev.CampBlitzName}}&nbsp;|&nbsp;<strong>{{ev.CampBlitzState}}</strong>&nbsp;|&nbsp;<strong style='color:#cc0000;'>{{ev.CampBlitzStatus}}</strong>
								</div>
							</div>


						</td>
					</tr>
				</table>
			</div>
			<button style="width: auto;" class="btn btn-default" ng-click="toExcel()"><i class="fa fa-file-excel-o" aria-hidden="true" style="color:#fff;"></i>&nbsp;Excel</button>
		</div>
		<br>
		<!--<div class="newsletter btn btn-default" ng-click="showModalNewsLetter()">
			Subscribe to Get Email updates
		</div>-->
	</div>
</div>

<!--Modal Campaña-->
<div id="modaltactic" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{actualEvent.CampBlitzName}}</h4>
			</div>
			<div class="modal-body">
				<div class="modal-tactic">
					<div class="row modal-tactic-row">
						<div class="col-sm-4">
							<strong>THEATER</strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzTheater}}&nbsp;
						</div>
						<div class="col-sm-4">
							<strong>DATE</strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzDateStart | cmdate:'MMM dd - yyyy'}}&nbsp;
						</div>

						<div class="col-sm-4">
							<strong>STATUS </strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzStatus}}&nbsp;
						</div>
						<div class="col-sm-4">
							<strong>PARTNER</strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzPartnerName}}&nbsp;
						</div>
						<div class="col-sm-4">
							<strong>FMM  </strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzFmm}}&nbsp;
						</div>
						<div class="col-sm-4">
							<strong>STATE</strong>
						</div>
						<div class="col-sm-8">
							{{actualEvent.CampBlitzState}}&nbsp;
						</div>
						<div class="col-sm-4">
							<strong>SFDC</strong>
						</div>
						<div class="col-sm-8">
							<a ng-href="{{actualEvent.CampBlitzSFDCLink}}" href="" target="_blank">{{actualEvent.CampBlitzSFDCName}}</a>&nbsp;
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--FIN - Modal Campaña-->
<!--Modal Varias Campañas -->

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ dayEvents[0].CampBlitzDateStart | cmdate:'MMM dd' }} - {{ dayEvents[0].CampBlitzDateStart | cmQ }}</h4>
			</div>
			<div class="modal-body">
				<div class="modal-tactic" ng-repeat="event in dayEvents">
					<div class="tactic-type modal-tactic-type">
						{{event.CampBlitzPartnerName}}
					</div><br>
					<div class="row modal-tactic-row">
						<div class="col-sm-4">
							<strong>{{event.CampBlitzName}}</strong>&nbsp;
						</div>
						<div class="col-sm-4">
							{{event.CampBlitzTheater}}&nbsp;
						</div>
						<div class="col-sm-4">
							<div class="modal-btn" ng-click="showDetails(event,true)">
								More Details  +&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--FIN - Modal Varias Campañas -->
<!--Modal Newsletter-->
<div id="modalnewsletter" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select the options to receibe email updates for the region of your interest</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class=" form-group">
						<label>Do you want to get calendar email updates to [email@avaya.com]?</label>
						<div class="row">
							<div class="col-sm-6">
								<input type="checkbox" aria-label="..."><label>YES</label>
							</div>
							<div class="col-sm-6">
								<input type="checkbox" aria-label="..."><label>NO</label>
							</div>
						</div>
					</div>
					<div class=" form-group">
						<label>Select the theater updates you want to receive</label>
						<div class="row">
							<div class="col-sm-4">
								<input type="checkbox" aria-label="..."><label>AI</label>
							</div>
							<div class="col-sm-4">
								<input type="checkbox" aria-label="..."><label>APAC</label>
							</div>
							<div class="col-sm-4">
								<input type="checkbox" aria-label="..."><label>EMEA</label>
							</div>
						</div>
						<div class="row">
							<!--<div class="col-sm-4">
								<input type="checkbox" aria-label="..."><label>GGM</label>
							</div>-->
							<div class="col-sm-4">
								<input type="checkbox" aria-label="..."><label>US</label>
							</div>
						</div>
					</div>
					<div class="newsletter btn btn-default" data-toggle="modal" data-target="#modalnewsletter">
						Apply Changes
					</div>
					<div style="clear:both;"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!--End Modal Newsletter-->